#content{
    overflow: hidden;
    height: 83vh;
}
.nav-link {
    position: relative;
}

.nav-link.active::after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: 4px; 
      left: 9px;
      width: 40%;
      background: #fff;
      -o-transition:.5s;
        -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:all .5s;
}

.nav-link::after
{
    position: absolute;
    content: '';
    height: 2px;
  top:34px;
      left: 9px;
      width: 0%;
      background: #fff;
      -o-transition:all .3s;
        -ms-transition:all .3s;
    -moz-transition:all .3s;
    -webkit-transition:all .3s;
    transition:all .3s;
}

.nav-link:hover::after{
    width: 40%;
}

body{
height: 100vh;
font-family: SpaceGrotesk;
background-size: cover;
display: none;

-o-transition:all .3s linear ;
-ms-transition:all .3s linear ;
-moz-transition:all .3s linear ;
-webkit-transition:all .3s linear ;
transition:all .3s linear ;

}

@font-face {
    font-family: "SpaceGrotesk";
    src: url("../assets/SpaceGrotesk/SpaceGrotesk-Regular.woff");
    
    }

  .gray{
      color: gray;
  }

  .red{
    color: #d53f38;
  }

  .topic a {
      position: relative;
      color: #343a40;
  }

  .topic a h2{letter-spacing: 0.2px; font-size: 43px;}
.topic span{
  vertical-align: top;
    line-height: 2.2rem;
    font-size: 42px;
}
  /* .topic a h2::after{
    position: absolute;
    content: '';
    height: 3px;
  top:1px;
      left: 0px;
      width: 0%;
      background: black;
    -o-transition:all .1s;
    -ms-transition:all .1s;
-moz-transition:all .1s;
-webkit-transition:all .1s;
transition:all .1s;
  } */

  .topic{margin-top: -5vh;}

  /* .topic a h2:hover::after{
     width: 100%;
  }*/

  .topic a h2:hover{
      color:#d53f38;
      text-decoration: line-through;
  }
 
  

  .topicSelected{
    color:#d53f38;
    text-decoration: line-through;
  }

  /* .topicSelected::after{
    position: absolute;
    content: '';
    height: 3px;
  top:1px;
      left: 0px;
      width: 100% !important;
      background: black;
    -o-transition:all .1s;
    -ms-transition:all .1s;
-moz-transition:all .1s;
-webkit-transition:all .1s;
transition:all .1s;
  }*/

  .hashList{
    list-style: none;
    font-family: SpaceGrotesk;
    padding-left: 0px;
    width: 80%;
    line-height: 1.4rem;
    font-size: 0.8rem;

  }

  .hashList li{
    display: inline-block;
    margin-left: 4px;
    font-size: 20px;
    letter-spacing: 0.2px;
  }

  .hashList li:before {
    content: "#"; 
    padding-right: 1px;
    
}

/*arail*/
.arail{background: url("../assets/Arail_bg.png");background-size: cover;}
.arail .nav-link.active::after{background: #fff;}
.arail .topic a, .arail .topic .h2, .arail .navbar-light .navbar-nav .nav-link{color: #ffffff;}
.arail .topicSelected{color:#4a90e2;}
.arail .topicSelected::after{background:#4a90e2;}
.arail .topic a h2:hover{color:#4a90e2;}
.arail .topic a h2:hover::after{background:#4a90e2;}
.arail .hashList li{color: #fff;opacity: 0.5;}
.arail .hashList li:nth-child(1),.arail .hashList li:nth-child(3),.arail .hashList li:nth-child(5),.arail .hashList li:nth-child(6){color: #4a90e2;opacity: 1;}


/*Drawdio*/
.drawdio{background: url("../assets/Drawdio_bg.png");background-size: cover;}
.drawdio .nav-link.active::after{background: #fff;}
.drawdio .topic a, .drawdio .topic .h2, .drawdio .navbar-light .navbar-nav .nav-link{color: #ffffff;}
.drawdio .topicSelected{color:#f8e71c;}
.drawdio .topicSelected::after{background:#f8e71c;}
.drawdio .topic a h2:hover{color:#f8e71c;}
.drawdio .topic a h2:hover::after{background:#f8e71c;}
.drawdio .hashList li{color: #fff;opacity: 0.5;}
.drawdio .hashList li:nth-child(1),.drawdio .hashList li:nth-child(3),.drawdio .hashList li:nth-child(5),.drawdio .hashList li:nth-child(6){color: #f8e71c;opacity: 1;}


/*juley*/
.juley{background: url("../assets/Juley_bg.png");background-size: cover;}
.juley .nav-link.active::after{background: #fff;}
.juley .topic a, .juley .topic .h2, .juley .navbar-light .navbar-nav .nav-link{color: #ffffff;}
.juley .topicSelected{color:#6cba93;}
.juley .topicSelected::after{background:#6cba93;}
.juley .topic a h2:hover{color:#6cba93;}
.juley .topic a h2:hover::after{background:#6cba93;}
.juley .hashList li{color: #fff;opacity: 0.5;}
.juley .hashList li:nth-child(1),.juley .hashList li:nth-child(3),.juley .hashList li:nth-child(8),.juley .hashList li:nth-child(6){color: #6cba93;opacity: 1;}


/*most*/
.most{background: url("../assets/Meter_bg.png");background-size: cover;}
.most .nav-link.active::after{background: #fff;}
.most .topic a, .most .topic .h2, .most .navbar-light .navbar-nav .nav-link{color: #ffffff;}
.most .topicSelected{color:#4a4a4a;}
.most .topicSelected::after{background:#4a4a4a;}
.most .topic a h2:hover{color:#4a4a4a;}
.most .topic a h2:hover::after{background:#4a4a4a;}
.most .hashList li{color: #fff;opacity: 0.5;}
.most .hashList li:nth-child(1),.most .hashList li:nth-child(3),.most .hashList li:nth-child(7),.most .hashList li:nth-child(8){color: #4a4a4a;opacity: 1;}


/*Drawdio*/
.jam{background: url("../assets/Jamculture_bg.png");background-size: cover;}
.jam .nav-link.active::after{background: #fff;}
.jam .topic a, .jam .topic .h2, .jam .navbar-light .navbar-nav .nav-link{color: #ffffff;}
.jam .topicSelected{color:#3b3241;}
.jam .topicSelected::after{background:#3b3241;}
.jam .topic a h2:hover{color:#3b3241;}
.jam .topic a h2:hover::after{background:#3b3241;}
.jam .hashList li{color: #fff;opacity: 0.5;}
.jam .hashList li:nth-child(1),.jam .hashList li:nth-child(3){color: #3b3241;opacity: 1;}


/* body:before will also work
 as will body:after */
 body:before {
  content: url(../assets/Drawdio_bg.png)
           url(../assets/Juley_bg.png)
           url(../assets/Meter_bg.png)
           url(../assets/Jamculture_bg.png);
  
  visibility: hidden;
  position: absolute;
  left: -999em;
 }